<div class="example-container">
  <h1 mat-dialog-title style="text-align: center">Add User</h1>
  <div mat-dialog-content >
    <form [formGroup]="createForm" >
        <mat-form-field >
            <input matInput placeholder="HWC_METAINSTANCE_ID" type="text" #HWC_METAINSTANCE_ID   formControlName="HWC_METAINSTANCE_ID" required>
            <mat-error *ngIf="isFieldInvalid('HWC_METAINSTANCE_ID')">
              Please fill this field
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Lastname" type="text"  #lastname  formControlName="lastname" required>
            <mat-error *ngIf="isFieldInvalid('lastname')">
              Please fill this field
            </mat-error>
          </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Username" type="text"   #username formControlName="username" required>
        <mat-error *ngIf="isFieldInvalid('username')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field >
          <input matInput placeholder="Phone" type="text"   #phonenumber  formControlName="phonenumber" required>
          <mat-error *ngIf="isFieldInvalid('phonenumber')">
            Please fill this field
          </mat-error>
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Email" type="email"     #email formControlName="email" required>
            <mat-error *ngIf="isFieldInvalid('email')">
              Please fill this field
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Password" type="password"  #password   formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('password')">
              Please fill this field
            </mat-error>
            </mat-form-field>

        <!-- <button mat-raised-button (click)="createUser(firstname.value, lastname.value, username.value, phonenumber.value, email.value, password.value)" [disabled]="createForm.pristine || createForm.invalid" type="submit" color="primary">Save</button> -->
        <button mat-raised-button   (click)="onNoClick()" color="accent">Cancel</button>

    </form>
  </div>
  </div>

