// mat-header-cell {
//   display:flex;
//   justify-content:f
//  }

table {
  width: 100%;
}

.modal-dialog{
  width: 1000px;

}

.card-header{
  background-color: rgb(8, 174, 180)
}

.mat-table {
  overflow: scroll;
  max-height: 400px;
}
