<!-- <mat-grid-list cols="2" class="makeScrollable"> -->
<!-- <mat-grid-tile> -->
<!-- <mat-grid-tile>2</mat-grid-tile> -->
<!-- <div class="pull-right">
  <button mat-dialog-close mat-raised-button>Close</button>
</div> -->
<div class="row">
  <div mat-dialog-content class="col-sm-6">
    <div class="header1">
      <h4 class="header">HWC Orginal MetaID</h4>
    </div>

    <form [formGroup]="createForm">
      <mat-form-field>
        <input matInput placeholder="HWC_METAINSTANCE_ID" type="text" #METAINSTANCE_ID formControlName="HWC_METAINSTANCE_ID"
          readonly required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAINSTANCE_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METAMODEL_VERSION" type="text" #METAMODEL_VERSION formControlName="HWC_METAMODEL_VERSION"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAMODEL_VERSION')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METAUI_VERSION" type="text" #METAUI_VERSION formControlName="HWC_METAUI_VERSION"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAUI_VERSION')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METASUBMISSION_DATE" type="text" #METASUBMISSION_DATE formControlName="HWC_METASUBMISSION_DATE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METASUBMISSION_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_WSID" type="text" #WSID formControlName="HWC_WSID" required>
        <mat-error *ngIf="isFieldInvalid('HWC_WSID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FIRST_NAME" type="text" #FIRST_NAME formControlName="HWC_FIRST_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FIRST_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FULL_NAME" type="text" #FULL_NAME formControlName="HWC_FULL_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_FULL_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_PARK_NAME" type="text" #PARK_NAME formControlName="HWC_PARK_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_PARK_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_TALUK_NAME" type="text" #TALUK_NAME formControlName="HWC_TALUK_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_TALUK_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_VILLAGE_NAME" type="text" #VILLAGE_NAME formControlName="HWC_VILLAGE_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_VILLAGE_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_OLDPHONE_NUMBER" type="number"  #OLDPHONE_NUMBER formControlName="HWC_OLDPHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_OLDPHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_NEWPHONE_NUMBER" type="text" #NEWPHONE_NUMBER formControlName="HWC_NEWPHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_NEWPHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_SURVEY_NUMBER" type="text" #SURVEY_NUMBER formControlName="HWC_SURVEY_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_SURVEY_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_RANGE" type="text" #RANGE formControlName="HWC_RANGE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_RANGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_LATITUDE" type="text" #LATITUDE formControlName="HWC_LATITUDE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_LATITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_LONGITUDE" type="text" #LONGITUDE formControlName="HWC_LONGITUDE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_LONGITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ALTITUDE" type="text" #ALTITUDE formControlName="HWC_ALTITUDE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ALTITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ACCURACY" type="text" #ACCURACY formControlName="HWC_ACCURACY" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ACCURACY')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_DATE" type="text" #CASE_DATE formControlName="HWC_CASE_DATE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_CATEGORY" type="text" #CASE_CATEGORY formControlName="HWC_CASE_CATEGORY"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_CATEGORY')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ANIMAL" type="text" #ANIMAL formControlName="HWC_ANIMAL" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ANIMAL')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_NAME" type="text" #HI_NAME formControlName="HWC_HI_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_VILLAGE" type="text" #HI_VILLAGE formControlName="HWC_HI_VILLAGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_VILLAGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_AREA" type="text" #HI_AREA formControlName="HWC_HI_AREA" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_AREA')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_DETAILS" type="text" #HI_DETAILS formControlName="HWC_HI_DETAILS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_DETAILS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_NAME" type="text" #HD_NAME formControlName="HWC_HD_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_VILLAGE" type="text" #HD_VILLAGE formControlName="HWC_HD_VILLAGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_VILLAGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_DETAILS" type="text" #HD_DETAILS formControlName="HWC_HD_DETAILS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_DETAILS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_COMMENT" type="text" #COMMENT formControlName="HWC_COMMENT" required>
        <mat-error *ngIf="isFieldInvalid('HWC_COMMENT')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_SUB_DATE" type="text" #FD_SUB_DATE formControlName="HWC_FD_SUB_DATE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_SUB_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_SUB_RANGE" type="text" #FD_SUB_RANGE formControlName="HWC_FD_SUB_RANGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_SUB_RANGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_NUM_FORMS" type="text" #FD_NUM_FORMS formControlName="HWC_FD_NUM_FORMS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_NUM_FORMS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_COMMENT" type="text" #FD_COMMENT formControlName="HWC_FD_COMMENT"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_COMMENT')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_START" type="text" #START formControlName="HWC_START" required>
        <mat-error *ngIf="isFieldInvalid('HWC_START')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_END" type="text" #END formControlName="HWC_END" required>
        <mat-error *ngIf="isFieldInvalid('HWC_END')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_DEVICE_ID" type="text" #DEVICE_ID formControlName="HWC_DEVICE_ID" required>
        <mat-error *ngIf="isFieldInvalid('HWC_DEVICE_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_SIMCARD_ID" type="text" #SIMCARD_ID formControlName="HWC_SIMCARD_ID"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_SIMCARD_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FA_PHONE_NUMBER" type="number" #FA_PHONE_NUMBER formControlName="HWC_FA_PHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FA_PHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_USER_NAME" type="text" #USER_NAME formControlName="HWC_USER_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_USER_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_TYPE" type="text" #CASE_TYPE formControlName="HWC_CASE_TYPE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_TYPE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="updateHWC( METAINSTANCE_ID.value,METAMODEL_VERSION.value,METAUI_VERSION.value,METASUBMISSION_DATE.value,WSID.value,FIRST_NAME.value,FULL_NAME.value,PARK_NAME.value,TALUK_NAME.value,VILLAGE_NAME.value,OLDPHONE_NUMBER.value,NEWPHONE_NUMBER.value,SURVEY_NUMBER.value,RANGE.value,LATITUDE.value,LONGITUDE.value,ALTITUDE.value,ACCURACY.value,CASE_DATE.value,CASE_CATEGORY.value,ANIMAL.value,HI_NAME.value,HI_VILLAGE.value,HI_AREA.value,HI_DETAILS.value,HD_NAME.value,HD_VILLAGE.value,HD_DETAILS.value,COMMENT.value,FD_SUB_DATE.value,FD_SUB_RANGE.value,FD_NUM_FORMS.value,FD_COMMENT.value,START.value,END.value,DEVICE_ID.value,SIMCARD_ID.value,FA_PHONE_NUMBER.value,USER_NAME.value,CASE_TYPE.value)"  type="submit" color="primary">Update</button>

      <!-- <button mat-raised-button (click)="onNoClick()" color="accent">Cancel</button> -->

    </form>
  </div>
  <!-- </mat-grid-tile> -->
  <div mat-dialog-content class="col-sm-6">
    <h4 class="header ">HWC Duplicate MetaID</h4>

    <form [formGroup]="createForm2">
      <mat-form-field>
        <input matInput placeholder="HWC_METAINSTANCE_ID" type="text" #HWC_METAINSTANCE_ID formControlName="HWC_METAINSTANCE_ID"
         readonly required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAINSTANCE_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METAMODEL_VERSION" type="text" #HWC_METAMODEL_VERSION formControlName="HWC_METAMODEL_VERSION"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAMODEL_VERSION')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METAUI_VERSION" type="text" #HWC_METAUI_VERSION formControlName="HWC_METAUI_VERSION"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METAUI_VERSION')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_METASUBMISSION_DATE" type="text" #HWC_METASUBMISSION_DATE formControlName="HWC_METASUBMISSION_DATE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_METASUBMISSION_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_WSID" type="text" #HWC_WSID formControlName="HWC_WSID" required>
        <mat-error *ngIf="isFieldInvalid('HWC_WSID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FIRST_NAME" type="text" #HWC_FIRST_NAME formControlName="HWC_FIRST_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FIRST_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FULL_NAME" type="text" #HWC_FULL_NAME formControlName="HWC_FULL_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_FULL_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_PARK_NAME" type="text" #HWC_PARK_NAME formControlName="HWC_PARK_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_PARK_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_TALUK_NAME" type="text" #HWC_TALUK_NAME formControlName="HWC_TALUK_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_TALUK_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_VILLAGE_NAME" type="text" #HWC_VILLAGE_NAME formControlName="HWC_VILLAGE_NAME"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_VILLAGE_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_OLDPHONE_NUMBER" type="number"  #HWC_OLDPHONE_NUMBER formControlName="HWC_OLDPHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_OLDPHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_NEWPHONE_NUMBER" type="text" #HWC_NEWPHONE_NUMBER formControlName="HWC_NEWPHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_NEWPHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_SURVEY_NUMBER" type="text" #HWC_SURVEY_NUMBER formControlName="HWC_SURVEY_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_SURVEY_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_RANGE" type="text" #HWC_RANGE formControlName="HWC_RANGE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_RANGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_LATITUDE" type="text" #HWC_LATITUDE formControlName="HWC_OLDPHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_LATITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_LONGITUDE" type="text" #HWC_LONGITUDE formControlName="HWC_LONGITUDE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_LONGITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ALTITUDE" type="text" #HWC_ALTITUDE formControlName="HWC_ALTITUDE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ALTITUDE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ACCURACY" type="text" #HWC_ACCURACY formControlName="HWC_ACCURACY" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ACCURACY')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_DATE" type="text" #HWC_CASE_DATE formControlName="HWC_CASE_DATE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_CATEGORY" type="text" #HWC_CASE_CATEGORY formControlName="HWC_CASE_CATEGORY"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_CATEGORY')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_ANIMAL" type="text" #HWC_ANIMAL formControlName="HWC_ANIMAL" required>
        <mat-error *ngIf="isFieldInvalid('HWC_ANIMAL')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_NAME" type="text" #HWC_HI_NAME formControlName="HWC_HI_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_VILLAGE" type="text" #HWC_HI_VILLAGE formControlName="HWC_HI_VILLAGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_VILLAGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_AREA" type="text" #HWC_HI_AREA formControlName="HWC_HI_AREA" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_AREA')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HI_DETAILS" type="text" #HWC_HI_DETAILS formControlName="HWC_HI_DETAILS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HI_DETAILS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_NAME" type="text" #HWC_HD_NAME formControlName="HWC_HD_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_VILLAGE" type="text" #HWC_HD_VILLAGE formControlName="HWC_HD_VILLAGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_VILLAGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_HD_DETAILS" type="text" #HWC_HD_DETAILS formControlName="HWC_HD_DETAILS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_HD_DETAILS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_COMMENT" type="text" #HWC_COMMENT formControlName="HWC_COMMENT" required>
        <mat-error *ngIf="isFieldInvalid('HWC_COMMENT')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_SUB_DATE" type="text" #HWC_FD_SUB_DATE formControlName="HWC_FD_SUB_DATE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_SUB_DATE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_SUB_RANGE" type="text" #HWC_FD_SUB_RANGE formControlName="HWC_FD_SUB_RANGE"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_SUB_RANGE')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_NUM_FORMS" type="number"  #HWC_FD_NUM_FORMS formControlName="HWC_FD_NUM_FORMS"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_NUM_FORMS')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FD_COMMENT" type="text" #HWC_FD_COMMENT formControlName="HWC_FD_COMMENT"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FD_COMMENT')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_START" type="text" #HWC_START formControlName="HWC_START" required>
        <mat-error *ngIf="isFieldInvalid('HWC_START')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_END" type="text" #HWC_END formControlName="HWC_END" required>
        <mat-error *ngIf="isFieldInvalid('HWC_END')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_DEVICE_ID" type="text" #HWC_DEVICE_ID formControlName="HWC_DEVICE_ID" required>
        <mat-error *ngIf="isFieldInvalid('HWC_DEVICE_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_SIMCARD_ID" type="text" #HWC_SIMCARD_ID formControlName="HWC_SIMCARD_ID"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_SIMCARD_ID')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_FA_PHONE_NUMBER" type="text" #HWC_FA_PHONE_NUMBER formControlName="HWC_FA_PHONE_NUMBER"
          required>
        <mat-error *ngIf="isFieldInvalid('HWC_FA_PHONE_NUMBER')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_USER_NAME" type="text" #HWC_USER_NAME formControlName="HWC_USER_NAME" required>
        <mat-error *ngIf="isFieldInvalid('HWC_USER_NAME')">
          Please fill this field
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="HWC_CASE_TYPE" type="text" #HWC_CASE_TYPE formControlName="HWC_CASE_TYPE" required>
        <mat-error *ngIf="isFieldInvalid('HWC_CASE_TYPE')">
          Please fill this field
        </mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="errorRecord(HWC_METAINSTANCE_ID.value)" color="primary">Insert</button>
      <button mat-raised-button (click)="onNoClick()" class="pull-right" color="accent">Close</button>

    </form>
  </div>
</div>
