<ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>


<div class="card">
  <div class="card-header">
    HWC
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
    <button mat-raised-button (click)="kmlReport()" class="btn btn-primary pull-right">Generate KML</button>
  </div>
  <!-- <div class="card-body"> -->

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="HWC_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>HWC_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_METASUBMISSION_DATE">
        <mat-header-cell *matHeaderCellDef>HWC_DATE</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_METASUBMISSION_DATE}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_FULL_NAME">
        <mat-header-cell *matHeaderCellDef>HWC_FULL_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_FULL_NAME}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_NEWPHONE_NUMBER">
        <mat-header-cell *matHeaderCellDef>PHONE_NUMBER</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_NEWPHONE_NUMBER}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_PARK_NAME">
        <mat-header-cell *matHeaderCellDef>HWC_PARK_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_PARK_NAME}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_TALUK_NAME">
        <mat-header-cell *matHeaderCellDef>HWC_TALUK_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_TALUK_NAME}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_VILLAGE_NAME">
        <mat-header-cell *matHeaderCellDef>HWC_VILLAGE_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_VILLAGE_NAME}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWC_ANIMAL">
        <mat-header-cell *matHeaderCellDef>HWC_ANIMAL</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.HWC_ANIMAL}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
