<ng4-loading-spinner> </ng4-loading-spinner>
<div class="card">
    <div class="card-body">
      <form >
        <div class=" row">
          <div class="col-sm-2 row">
              <label class="col-sm-5 col-form-label" >Year</label>
              <div class="col-sm-7">
                  <select class="form-control" >
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
          </div>

          <div class="col-sm-3 row">
              <label class="col-sm-6 col-form-label" for="hf-password">Month</label>
              <div class="col-sm-6">
                  <select class="form-control" >
                      <option>Jan</option>
                      <option>Feb</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
            </div>

          <div class="col-sm-3 row">
              <label class="col-sm-5 col-form-label" for="hf-email">Category</label>
              <div class="col-sm-7">
                  <select class="form-control" >
                      <option>Daily Count</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
            </div>

          <div class="col-sm-3 row">
              <label class="col-sm-4 col-form-label" for="hf-email">Cases</label>
              <div class="col-sm-8">
                  <select class="form-control" >
                      <option>Tally of cases attended</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                 </div>
            </div>
            <div class="col-sm-1 row">
              <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-success">Get</button>
          </div>
            </div>

        </div>
      </form>
    </div>
  </div>

  <!-- <div class="card">
    <div class="card-header"> Daily Count
            <button mat-raised-button (click)="download()" class="btn btn-primary pull-right" >Export to Excel</button>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>DC_METAINSTANCE_ID</th>
            <th>DEVICE_ID</th>
            <th>SIMCARD_ID</th>
            <th>PHONE_NUMBER</th>
            <th>CASE_ID</th>
            <th>USERNAME</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Yiorgos Avraamu</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>Quintin Ed</td>
          </tr>
          <tr>
            <td>Avram Tarasios</td>
            <td>2012/02/01</td>
            <td>Staff</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>Quintin Ed</td>
          </tr>
          <tr>
            <td>Quintin Ed</td>
            <td>2012/02/01</td>
            <td>Admin</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>Quintin Ed</td>
          </tr>
          <tr>
            <td>Enéas Kwadwo</td>
            <td>2012/03/01</td>
            <td>Member</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>Quintin Ed</td>
          </tr>
          <tr>
            <td>Agapetus Tadeáš</td>
            <td>2012/01/21</td>
            <td>Staff</td>
            <td>2012/01/01</td>
            <td>Member</td>
            <td>Quintin Ed</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div> -->
  <!-- </div> -->
  <div class="card">
    <div class="card-header">
      Daily Count
        <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right" >Export to Excel</button>
    </div>
    <div class="card-body">
        <div class="mat-elevation-z8 hwc">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="DC_METAINSTANCE_ID">
              <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_METAINSTANCE_ID}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="DC_DEVICE_ID">
              <mat-header-cell *matHeaderCellDef>DEVICE_ID</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_DEVICE_ID}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="DC_SIMCARD_ID">
              <mat-header-cell *matHeaderCellDef>SIMCARD_ID</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_SIMCARD_ID}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="DC_PHONE_NUMBER">
              <mat-header-cell *matHeaderCellDef>PHONE_NUMBER</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_PHONE_NUMBER}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="DC_CASE_ID">
              <mat-header-cell *matHeaderCellDef>CASE_ID</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_CASE_ID}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="DC_USER_NAME">
              <mat-header-cell *matHeaderCellDef>USERNAME</mat-header-cell>
              <mat-cell *matCellDef="let data">{{data.DC_USER_NAME}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
          </mat-table>
          <mat-paginator
          [length]="totalPost"
          [pageSize]="postPerPage"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onChangedPage($event)">
        </mat-paginator>
        </div>
      </div>
      </div>
 

