<ng4-loading-spinner> </ng4-loading-spinner>

<div class="card">
  <div class="card-header">
    Daily Count
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
  </div>

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="DC_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_DEVICE_ID">
        <mat-header-cell *matHeaderCellDef>DEVICE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_DEVICE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_SIMCARD_ID">
        <mat-header-cell *matHeaderCellDef>SIMCARD_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_SIMCARD_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_FA_ID">
        <mat-header-cell *matHeaderCellDef>DC_FA_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_FA_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_CASE_ID">
        <mat-header-cell *matHeaderCellDef>CASE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_CASE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_USER_NAME">
        <mat-header-cell *matHeaderCellDef>USERNAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_USER_NAME}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
