.card {
  width: 30%;
  margin: 100px auto;
}

.card {
  background:lightblue;
  opacity: .9;
  /* border: transparent; */
}

:host {
  background: url("./../../../../images/image6.jpg") center ;
  height: inherit;
}


