<ng4-loading-spinner [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
<div class="card">
  <div class="card-header">
    Compensation
    <button mat-raised-button (click)="xlsxReport()" class="btn btn-primary pull-right">Export to Excel</button>
  </div>

  <div class="mat-elevation-z8 hwc">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="DC_METAINSTANCE_ID">
        <mat-header-cell *matHeaderCellDef>DC_METAINSTANCE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_METAINSTANCE_ID}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_DEVICE_ID">
        <mat-header-cell *matHeaderCellDef>DC_DEVICE_ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_DEVICE_ID}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="DC_USER_NAME">
        <mat-header-cell *matHeaderCellDef>DC_USER_NAME</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_USER_NAME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="DC_NH_CASES">
        <mat-header-cell *matHeaderCellDef>DC_NH_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_NH_CASES}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_BP_CASES">
        <mat-header-cell *matHeaderCellDef>DC_BP_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_BP_CASES}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="DC_TOTAL_CASES">
        <mat-header-cell *matHeaderCellDef>DC_TOTAL_CASES</mat-header-cell>
        <mat-cell *matCellDef="let data">{{data.DC_TOTAL_CASES}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedCol"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCol"></mat-row>
    </mat-table>
    <mat-paginator [length]="totalPost" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
