<div class="example-container">
<h1 mat-dialog-title style="text-align: center">Add User</h1>
<div mat-dialog-content >
  <form class="example-form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <mat-form-field >
          <input matInput placeholder="Firstname" type="text" required [(ngModel)]="blogPost.firstname" name="firstname" ngModel #firstnameInput="ngModel">
          <mat-error *ngIf="firstnameInput.invalid">Please enter a valid Firstname.</mat-error>
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Lastname" type="text" required [(ngModel)]="blogPost.lastname" name="lastname" ngModel #lastnameInput="ngModel">
          <mat-error *ngIf="lastnameInput.invalid">Please enter a valid Lastname.</mat-error>
        </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Username" type="text" required [(ngModel)]="blogPost.username" name="username" ngModel #usernameInput="ngModel">
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid Username.</mat-error>
    </mat-form-field>
    <mat-form-field >
        <input matInput placeholder="Phone" type="text" required [(ngModel)]="blogPost.phone" name="phonenumber" ngModel #phoneInput="ngModel">
        <mat-error *ngIf="phoneInput.invalid">Please enter a valid PhoneNumber.</mat-error>
      </mat-form-field>
      <mat-form-field >
          <input matInput placeholder="Email" type="email" required [(ngModel)]="blogPost.email" name="email" ngModel email #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid">Please enter a valid Email.</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Password" type="password" required [(ngModel)]="blogPost.password" name="password" ngModel  #passwordInput="ngModel">
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid Email.</mat-error>
          </mat-form-field>
      <!-- <mat-form-field >
      <mat-select matInput placeholder="User Category" required [(ngModel)]="blogPost.category" ngModel name="category" #categoryInput="ngModel">
        <mat-option *ngFor="let cat of categories" [value]="cat.value">
          {{ cat.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div>
      <button mat-raised-button type="submit" color="primary">Save</button>
      <button mat-raised-button  (click)="onNoClick()" color="accent">Cancel</button>
    </div>
  </form>
</div>
</div>

