<div class="card">
  <div class="card-header">
    Users
    <button mat-raised-button (click)="openDialog()" class="btn btn-primary pull-right">Add User</button>
  </div>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Username">
        <mat-header-cell *matHeaderCellDef> UserName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Username}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Firstname">
        <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Firstname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Lastname">
        <mat-header-cell *matHeaderCellDef> LastName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Lastname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Category}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button button="submit" mat-raised-button color="accent">
            Delete
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
