.mat-elevation-z8 {
  transition: none !important;
  box-shadow: none !important;
}
mat-header-cell{
  font-weight:bold;
}

.card-header{
  background-color: rgb(197, 235, 91);
}

.mat-row,
.mat-header-row {
  width: 250%;
}

.mat-table {
  overflow: scroll;
  max-height: 400px;
}

mat-cell,
mat-header-cell {
  min-width: 200px;
  text-align: center;
}
/*unnecessary to make table header fixed*/
.mat-header-row {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
  text-align: center;
}

// .example-form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }
